In [1]:
import numpy as np
import pandas as pd
from pandas.core.frame import DataFrame as DF
# Useful to quickly extract csv files
import glob
import os

In [2]:
# Load data participants


rateNameFrames = list()

#for i in np.arange(len(select_subj)):
rateNameFrames1 = glob.glob('/Users/pradyumna/OneDrive - University College London/PhD Projects/PFT_MRI_Experiment/Scanner Pilot/Behavioral_Gorilla_FinalRate/AllJoined/*task*.csv')
rateNameFrames1.sort()
rateNameFrames.extend(rateNameFrames1)
rateNameFrames

['/Users/pradyumna/OneDrive - University College London/PhD Projects/PFT_MRI_Experiment/Scanner Pilot/Behavioral_Gorilla_FinalRate/AllJoined/data_exp_60262-v7_task-64d8.csv',
 '/Users/pradyumna/OneDrive - University College London/PhD Projects/PFT_MRI_Experiment/Scanner Pilot/Behavioral_Gorilla_FinalRate/AllJoined/data_exp_60262-v8_task-64d8.csv']

In [3]:
rateNameFrames

['/Users/pradyumna/OneDrive - University College London/PhD Projects/PFT_MRI_Experiment/Scanner Pilot/Behavioral_Gorilla_FinalRate/AllJoined/data_exp_60262-v7_task-64d8.csv',
 '/Users/pradyumna/OneDrive - University College London/PhD Projects/PFT_MRI_Experiment/Scanner Pilot/Behavioral_Gorilla_FinalRate/AllJoined/data_exp_60262-v8_task-64d8.csv']

In [4]:
file_num=len(rateNameFrames) #number of files


rateFrameRawAll = pd.DataFrame()
for j in range (file_num):
    
    # load data
    rateFrames0 = pd.read_csv(rateNameFrames[j])
    
    rateFrames = rateFrames0.loc[ (rateFrames0['display'] == 'Rate') & (rateFrames0['Zone Type'] == 'response_slider_endValue')]
    
    
    rateFrameCut = rateFrames[['Participant Public ID','Trial Number','picId' , 'picNum','Response', 'Reaction Time']]
    rateFrameCut=rateFrameCut.rename(index=str, columns={'Trial Number':"trial", 
                                                     'Response':'rating',
                                                        'Participant Public ID':'part'})
    
    for jj in rateFrameCut.part.unique():

        rate_part = rateFrameCut.loc[ (rateFrameCut['part'] == jj) ]
        
        output_dir = '/Users/pradyumna/OneDrive - University College London/PhD Projects/PFT_MRI_Experiment/Scanner Pilot/Behavioral/'+jj+''
        
        if not os.path.exists(output_dir):
            os.mkdir(output_dir)        
        rate_part.to_csv('/Users/pradyumna/OneDrive - University College London/PhD Projects/PFT_MRI_Experiment/Scanner Pilot/Behavioral/'+jj+'/'+jj+'_RateDataFinal_PFT_FinalRate_MRI_Exp_Gorilla.csv',index = False)
        print ('Saved.... /Users/pradyumna/OneDrive - University College London/PhD Projects/PFT_MRI_Experiment/Scanner Pilot/Behavioral/'+jj+'/'+jj+'_RateDataFinal_PFT_FinalRate_MRI_Exp_Gorilla.csv')
 
    #rateFrameRawAll = pd.concat([rateFrameRawAll,rateFrameCut],ignore_index=True)

Saved.... /Users/pradyumna/OneDrive - University College London/PhD Projects/PFT_MRI_Experiment/Scanner Pilot/Behavioral/S05/S05_RateDataFinal_PFT_FinalRate_MRI_Exp_Gorilla.csv
Saved.... /Users/pradyumna/OneDrive - University College London/PhD Projects/PFT_MRI_Experiment/Scanner Pilot/Behavioral/S06/S06_RateDataFinal_PFT_FinalRate_MRI_Exp_Gorilla.csv
Saved.... /Users/pradyumna/OneDrive - University College London/PhD Projects/PFT_MRI_Experiment/Scanner Pilot/Behavioral/S12/S12_RateDataFinal_PFT_FinalRate_MRI_Exp_Gorilla.csv
Saved.... /Users/pradyumna/OneDrive - University College London/PhD Projects/PFT_MRI_Experiment/Scanner Pilot/Behavioral/S38/S38_RateDataFinal_PFT_FinalRate_MRI_Exp_Gorilla.csv
Saved.... /Users/pradyumna/OneDrive - University College London/PhD Projects/PFT_MRI_Experiment/Scanner Pilot/Behavioral/S36/S36_RateDataFinal_PFT_FinalRate_MRI_Exp_Gorilla.csv
Saved.... /Users/pradyumna/OneDrive - University College London/PhD Projects/PFT_MRI_Experiment/Scanner Pilot/Behavioral/S37/S37_RateDataFinal_PFT_FinalRate_MRI_Exp_Gorilla.csv
Saved.... /Users/pradyumna/OneDrive - University College London/PhD Projects/PFT_MRI_Experiment/Scanner Pilot/Behavioral/S35/S35_RateDataFinal_PFT_FinalRate_MRI_Exp_Gorilla.csv
Saved.... /Users/pradyumna/OneDrive - University College London/PhD Projects/PFT_MRI_Experiment/Scanner Pilot/Behavioral/S34/S34_RateDataFinal_PFT_FinalRate_MRI_Exp_Gorilla.csv
Saved.... /Users/pradyumna/OneDrive - University College London/PhD Projects/PFT_MRI_Experiment/Scanner Pilot/Behavioral/S33/S33_RateDataFinal_PFT_FinalRate_MRI_Exp_Gorilla.csv
Saved.... /Users/pradyumna/OneDrive - University College London/PhD Projects/PFT_MRI_Experiment/Scanner Pilot/Behavioral/S32/S32_RateDataFinal_PFT_FinalRate_MRI_Exp_Gorilla.csv
Saved.... /Users/pradyumna/OneDrive - University College London/PhD Projects/PFT_MRI_Experiment/Scanner Pilot/Behavioral/S31/S31_RateDataFinal_PFT_FinalRate_MRI_Exp_Gorilla.csv
Saved.... /Users/pradyumna/OneDrive - University College London/PhD Projects/PFT_MRI_Experiment/Scanner Pilot/Behavioral/S29/S29_RateDataFinal_PFT_FinalRate_MRI_Exp_Gorilla.csv
Saved.... /Users/pradyumna/OneDrive - University College London/PhD Projects/PFT_MRI_Experiment/Scanner Pilot/Behavioral/S30/S30_RateDataFinal_PFT_FinalRate_MRI_Exp_Gorilla.csv
Saved.... /Users/pradyumna/OneDrive - University College London/PhD Projects/PFT_MRI_Experiment/Scanner Pilot/Behavioral/S28/S28_RateDataFinal_PFT_FinalRate_MRI_Exp_Gorilla.csv
Saved.... /Users/pradyumna/OneDrive - University College London/PhD Projects/PFT_MRI_Experiment/Scanner Pilot/Behavioral/S27/S27_RateDataFinal_PFT_FinalRate_MRI_Exp_Gorilla.csv
Saved.... /Users/pradyumna/OneDrive - University College London/PhD Projects/PFT_MRI_Experiment/Scanner Pilot/Behavioral/S26/S26_RateDataFinal_PFT_FinalRate_MRI_Exp_Gorilla.csv
Saved.... /Users/pradyumna/OneDrive - University College London/PhD Projects/PFT_MRI_Experiment/Scanner Pilot/Behavioral/S25/S25_RateDataFinal_PFT_FinalRate_MRI_Exp_Gorilla.csv
Saved.... /Users/pradyumna/OneDrive - University College London/PhD Projects/PFT_MRI_Experiment/Scanner Pilot/Behavioral/S24/S24_RateDataFinal_PFT_FinalRate_MRI_Exp_Gorilla.csv
Saved.... /Users/pradyumna/OneDrive - University College London/PhD Projects/PFT_MRI_Experiment/Scanner Pilot/Behavioral/S23/S23_RateDataFinal_PFT_FinalRate_MRI_Exp_Gorilla.csv
Saved.... /Users/pradyumna/OneDrive - University College London/PhD Projects/PFT_MRI_Experiment/Scanner Pilot/Behavioral/S22/S22_RateDataFinal_PFT_FinalRate_MRI_Exp_Gorilla.csv
Saved.... /Users/pradyumna/OneDrive - University College London/PhD Projects/PFT_MRI_Experiment/Scanner Pilot/Behavioral/S21/S21_RateDataFinal_PFT_FinalRate_MRI_Exp_Gorilla.csv
Saved.... /Users/pradyumna/OneDrive - University College London/PhD Projects/PFT_MRI_Experiment/Scanner Pilot/Behavioral/S20/S20_RateDataFinal_PFT_FinalRate_MRI_Exp_Gorilla.csv
Saved.... /Users/pradyumna/OneDrive - University College London/PhD Projects/PFT_MRI_Experiment/Scanner Pilot/Behavioral/S19/S19_RateDataFinal_PFT_FinalRate_MRI_Exp_Gorilla.csv
Saved.... /Users/pradyumna/OneDrive - University College London/PhD Projects/PFT_MRI_Experiment/Scanner Pilot/Behavioral/S18/S18_RateDataFinal_PFT_FinalRate_MRI_Exp_Gorilla.csv
Saved.... /Users/pradyumna/OneDrive - University College London/PhD Projects/PFT_MRI_Experiment/Scanner Pilot/Behavioral/S16/S16_RateDataFinal_PFT_FinalRate_MRI_Exp_Gorilla.csv
Saved.... /Users/pradyumna/OneDrive - University College London/PhD Projects/PFT_MRI_Experiment/Scanner Pilot/Behavioral/S14/S14_RateDataFinal_PFT_FinalRate_MRI_Exp_Gorilla.csv
Saved.... /Users/pradyumna/OneDrive - University College London/PhD Projects/PFT_MRI_Experiment/Scanner Pilot/Behavioral/S13/S13_RateDataFinal_PFT_FinalRate_MRI_Exp_Gorilla.csv
Saved.... /Users/pradyumna/OneDrive - University College London/PhD Projects/PFT_MRI_Experiment/Scanner Pilot/Behavioral/S11/S11_RateDataFinal_PFT_FinalRate_MRI_Exp_Gorilla.csv
Saved.... /Users/pradyumna/OneDrive - University College London/PhD Projects/PFT_MRI_Experiment/Scanner Pilot/Behavioral/S10/S10_RateDataFinal_PFT_FinalRate_MRI_Exp_Gorilla.csv
Saved.... /Users/pradyumna/OneDrive - University College London/PhD Projects/PFT_MRI_Experiment/Scanner Pilot/Behavioral/S07/S07_RateDataFinal_PFT_FinalRate_MRI_Exp_Gorilla.csv
Saved.... /Users/pradyumna/OneDrive - University College London/PhD Projects/PFT_MRI_Experiment/Scanner Pilot/Behavioral/S09/S09_RateDataFinal_PFT_FinalRate_MRI_Exp_Gorilla.csv
Saved.... /Users/pradyumna/OneDrive - University College London/PhD Projects/PFT_MRI_Experiment/Scanner Pilot/Behavioral/S08/S08_RateDataFinal_PFT_FinalRate_MRI_Exp_Gorilla.csv
Saved.... /Users/pradyumna/OneDrive - University College London/PhD Projects/PFT_MRI_Experiment/Scanner Pilot/Behavioral/S17b/S17b_RateDataFinal_PFT_FinalRate_MRI_Exp_Gorilla.csv
Saved.... /Users/pradyumna/OneDrive - University College London/PhD Projects/PFT_MRI_Experiment/Scanner Pilot/Behavioral/S15/S15_RateDataFinal_PFT_FinalRate_MRI_Exp_Gorilla.csv

## Extract rating order and familiarity info

In [5]:
# ..._questionnaire-wh4a.csv ... contains ranking of pets (category)
#        How much do you like having animals as pets? (response-1)
#        rankOrderPets-1,2,3,4 : order of animals. 

# ..._questionnaire-34ss ... contains familiarity ranking
#        dogFam, catFam, parrotFam, hamsterFam

#1: dog,
#2: cat
#5: parrot
#6: hamster

# Rank order

In [6]:
rateFamFrames = list()

#for i in np.arange(len(select_subj)):
rateFamFrames1 = glob.glob('/Users/pradyumna/OneDrive - University College London/PhD Projects/PFT_MRI_Experiment/Scanner Pilot/Behavioral_Gorilla_FinalRate/AllJoined/*_questionnaire-wh4a.csv')
rateFamFrames1.sort()
rateFamFrames.extend(rateFamFrames1)
rateFamFrames

['/Users/pradyumna/OneDrive - University College London/PhD Projects/PFT_MRI_Experiment/Scanner Pilot/Behavioral_Gorilla_FinalRate/AllJoined/data_exp_60262-v7_questionnaire-wh4a.csv',
 '/Users/pradyumna/OneDrive - University College London/PhD Projects/PFT_MRI_Experiment/Scanner Pilot/Behavioral_Gorilla_FinalRate/AllJoined/data_exp_60262-v8_questionnaire-wh4a.csv',
 '/Users/pradyumna/OneDrive - University College London/PhD Projects/PFT_MRI_Experiment/Scanner Pilot/Behavioral_Gorilla_FinalRate/AllJoined/data_exp_60940-v2_questionnaire-wh4a.csv']

In [7]:
file_num=len(rateFamFrames) #number of files


rateRankRawAll = pd.DataFrame()
for j in range (file_num):
    
    # load data
    rateFrames0 = pd.read_csv(rateFamFrames[j])
   
    rateFrames = rateFrames0.loc[ (rateFrames0['Question Key'] == 'response-1') | (rateFrames0['Question Key'] == 'rankOrderPets-1') | (rateFrames0['Question Key'] == 'rankOrderPets-2') | (rateFrames0['Question Key'] == 'rankOrderPets-3') | (rateFrames0['Question Key'] == 'rankOrderPets-4') ]
    
    
    rateFrameCut = rateFrames[['Participant Public ID','Question Key','Response']]
    rateFrameCut=rateFrameCut.rename(index=str, columns={'Participant Public ID':'part'})
    rateRankRawAll = pd.concat([rateRankRawAll,rateFrameCut],ignore_index=True)
rateRankRawAll = rateRankRawAll.sort_values(by=['part'])

In [8]:
rateRankRawAll

    part     Question Key Response
179  S03  rankOrderPets-4  hamster
177  S03  rankOrderPets-2      cat
176  S03  rankOrderPets-1      dog
175  S03       response-1       84
178  S03  rankOrderPets-3   parrot
..   ...              ...      ...
38   S38  rankOrderPets-3      dog
36   S38  rankOrderPets-1      cat
37   S38  rankOrderPets-2  hamster
39   S38  rankOrderPets-4   parrot
35   S38       response-1       50

[180 rows x 3 columns]

## extract only animal preference for each participant

In [9]:
rateRankRawAll['part'] = [int(x[1:3]) for x in rateRankRawAll.part.values]
rateRankRawAll.loc[(rateRankRawAll['Question Key'] == 'response-1')].to_csv('/Users/pradyumna/OneDrive - University College London/PhD Projects/PFT_MRI_Experiment/Scanner Pilot/All_Behavioral/PFT_AnimalAsPetLike_Online.csv',index = False)

rateRankRawAll = rateRankRawAll.loc[(rateRankRawAll['Question Key'] != 'response-1')]

In [10]:
rateRankRawAll

     part     Question Key Response
179     3  rankOrderPets-4  hamster
177     3  rankOrderPets-2      cat
176     3  rankOrderPets-1      dog
178     3  rankOrderPets-3   parrot
174     4  rankOrderPets-4  hamster
..    ...              ...      ...
31     37  rankOrderPets-1      cat
38     38  rankOrderPets-3      dog
36     38  rankOrderPets-1      cat
37     38  rankOrderPets-2  hamster
39     38  rankOrderPets-4   parrot

[144 rows x 3 columns]

## Familiarity

In [11]:
rateFamFrames = list()

#for i in np.arange(len(select_subj)):
rateFamFrames1 = glob.glob('/Users/pradyumna/OneDrive - University College London/PhD Projects/PFT_MRI_Experiment/Scanner Pilot/Behavioral_Gorilla_FinalRate/AllJoined/*_questionnaire-34ss.csv')
rateFamFrames1.sort()
rateFamFrames.extend(rateFamFrames1)
rateFamFrames

['/Users/pradyumna/OneDrive - University College London/PhD Projects/PFT_MRI_Experiment/Scanner Pilot/Behavioral_Gorilla_FinalRate/AllJoined/data_exp_60262-v7_questionnaire-34ss.csv',
 '/Users/pradyumna/OneDrive - University College London/PhD Projects/PFT_MRI_Experiment/Scanner Pilot/Behavioral_Gorilla_FinalRate/AllJoined/data_exp_60262-v8_questionnaire-34ss.csv',
 '/Users/pradyumna/OneDrive - University College London/PhD Projects/PFT_MRI_Experiment/Scanner Pilot/Behavioral_Gorilla_FinalRate/AllJoined/data_exp_60940-v2_questionnaire-34ss.csv']

In [12]:
file_num=len(rateFamFrames) #number of files


rateFamRawAll = pd.DataFrame()
for j in range (file_num):
    
    # load data
    rateFrames0 = pd.read_csv(rateFamFrames[j])
   
    rateFrames = rateFrames0.loc[ (rateFrames0['Question Key'] == 'dogFam') | (rateFrames0['Question Key'] == 'catFam') | (rateFrames0['Question Key'] == 'parrotFam') | (rateFrames0['Question Key'] == 'hamsterFam')  ]
    
    
    rateFrameCut = rateFrames[['Participant Public ID','Question Key','Response']]
    rateFrameCut=rateFrameCut.rename(index=str, columns={'Participant Public ID':'part1'})
    rateFamRawAll = pd.concat([rateFamRawAll,rateFrameCut],ignore_index=True)

rateFamRawAll = rateFamRawAll.sort_values(by=['part1'])

In [13]:
rateFamRawAll

    part1 Question Key  Response
143   S03   hamsterFam      20.0
141   S03       catFam      74.0
140   S03       dogFam      91.0
142   S03    parrotFam      10.0
139   S04   hamsterFam       0.0
..    ...          ...       ...
9     S37       catFam      64.0
15    S38   hamsterFam      11.0
14    S38    parrotFam       5.0
13    S38       catFam     100.0
12    S38       dogFam      50.0

[144 rows x 3 columns]

# create new dataframe to join familiarity and ranking

In [14]:
RankFamOnlineAll = pd.DataFrame()
nameId = [1,2,5,6] # animal id (dog:1,cat:2,parrot:5,hamster:6)
namesString = ['dog','cat','parrot','hamster']
namesFamString = ['dogFam','catFam','parrotFam','hamsterFam']

# extract 
rateFamRawAll = rateFamRawAll.replace(namesFamString, nameId)
rateFamRawAll['part1'] = [int(x[1:3]) for x in rateFamRawAll.part1.values]
rateFamRawAll=rateFamRawAll.rename(index=str, columns={'Question Key':"nameID"}) 
rateFamRawAll=rateFamRawAll.rename(index=str, columns={'Response':"FamRank"}) 

rateRankRawAll = rateRankRawAll.loc[(rateRankRawAll['Question Key'] != 'response-1')]
rateRankRawAll['nameId'] = (rateRankRawAll['Response'] == namesString[1])*nameId[1] + (rateRankRawAll['Response'] == namesString[2])*nameId[2] + (rateRankRawAll['Response'] == namesString[3])*nameId[3] + (rateRankRawAll['Response'] == namesString[0])*nameId[0]
rateRankRawAll['Question Key'] = [int(x[-1]) for x in rateRankRawAll['Question Key'].values]
rateRankRawAll=rateRankRawAll.rename(index=str, columns={'Response':"nameID0"}) 
rateRankRawAll=rateRankRawAll.rename(index=str, columns={'Question Key':"LikeRank"})

In [15]:
rateRankRawAll = rateRankRawAll.sort_values(['part', 'nameId'], ascending=[True, True])
rateFamRawAll = rateFamRawAll.sort_values(['part1', 'nameID'], ascending=[True, True])

rateRankRawAll = rateRankRawAll.reset_index(drop=True)
rateFamRawAll = rateFamRawAll.reset_index(drop=True)

rankFamAll = pd.concat([rateRankRawAll, rateFamRawAll], axis=1,join="inner")

In [16]:
rateRankRawAll

     part  LikeRank  nameID0  nameId
0       3         1      dog       1
1       3         2      cat       2
2       3         3   parrot       5
3       3         4  hamster       6
4       4         1      dog       1
..    ...       ...      ...     ...
139    37         3  hamster       6
140    38         3      dog       1
141    38         1      cat       2
142    38         4   parrot       5
143    38         2  hamster       6

[144 rows x 4 columns]

In [17]:
rateFamRawAll

     part1  nameID  FamRank
0        3       1     91.0
1        3       2     74.0
2        3       5     10.0
3        3       6     20.0
4        4       1    100.0
..     ...     ...      ...
139     37       6     85.0
140     38       1     50.0
141     38       2    100.0
142     38       5      5.0
143     38       6     11.0

[144 rows x 3 columns]

In [18]:
# Save rankFam as an output (notice that the ranking corresponds to the most prefered item (1) vs the least prefered (4)

In [19]:
rankFamAll = rankFamAll.drop(columns = ['part1','nameID'])
rankFamAll.to_csv('/Users/pradyumna/OneDrive - University College London/PhD Projects/PFT_MRI_Experiment/Scanner Pilot/All_Behavioral/PFT_RankFam_Online.csv',index = False)

In [20]:
rankFamAll

     part  LikeRank  nameID0  nameId  FamRank
0       3         1      dog       1     91.0
1       3         2      cat       2     74.0
2       3         3   parrot       5     10.0
3       3         4  hamster       6     20.0
4       4         1      dog       1    100.0
..    ...       ...      ...     ...      ...
139    37         3  hamster       6     85.0
140    38         3      dog       1     50.0
141    38         1      cat       2    100.0
142    38         4   parrot       5      5.0
143    38         2  hamster       6     11.0

[144 rows x 5 columns]